<div class="flex-container">
  <!-- User input -->
  <div class="flex-child">
    <form phx-change="render">
      <textarea autofocus name="user_md"><%= @user_md %></textarea>
    </form>
  </div>

  <!-- Rendered markdown -->
  <div class="flex-child render-pane">
    <%= raw @md_html %>
  </div>
</div>